body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f2e9e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(240, 238, 238, 0.1);
}

#infoContainer {
    margin-top: 20px;
    text-align: left;
}

.hidden {
    display: none;
}

#imageContainer {
    margin: 20px auto;
}

#imageContainer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#explanation {
    color: rgb(175, 166, 166);
}

.datePickerContainer {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {

    #container {
        margin: 0;
        border-radius: 0;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.8em;
    }
}

